body{
    background-image: url(./img/420248.jpg);
    background-position: bottom;
    color: rgb(226, 222, 220);
    font-family: 'Changa', sans-serif;
    
   
    
}
.laranja{
    background-color: rgb(255, 115, 0);
    border-radius: 1em;
}
.img-pokemons{
    border-radius: 1em;
}
.cor-pesquisa{
    background-color: rgb(255, 115, 0);
}
input{
    border-radius: 2em;
    background-color: rgb(236, 108, 3);
}
.icon-block{
    padding-left: 2em;
}
#descricao{
    color: rgb(17, 16, 16);
}
.descricaoPokemon{
    padding-left: 2em;
}
.nomePokemon{
    text-shadow: 2px 0.5px black;
}