@font-face{
    font-family: "Pokemon Classic";
    src: url(./font/Pokemon\ Classic.ttf)
}
body{
    background-image: url(./img/420248.jpg);
    background-position: bottom;
    letter-spacing: 1px;
    font-size: 1.2em;       
}
h6{
    line-height: 1em
}
.laranja{
    background-color: rgb(255, 115, 0);
    border-radius: 1em;
}
.img-pokemons{
    border-radius: 1em;
}
.cor-pesquisa{
    background-color: rgb(255, 115, 0);
}
input{
    border-radius: 2em;
    background-color: rgb(236, 108, 3);
}

#descricao{
    color: rgb(17, 16, 16);
}

.nomePokemon{
    font-family: "Pokemon Classic";
}
.img-pokemons{
    font-family: 'Changa', sans-serif;
}

li{
    padding-top: 5px;
}