body{
    background-image: url(./img/420248.jpg);
    background-position: bottom;
    font-family: 'Changa', sans-serif;
    
    /* font-family: 'Share Tech Mono', monospace; */
   letter-spacing: 1px;
    
}
h6{
    line-height: 1em
}
.laranja{
    background-color: rgb(255, 115, 0);
    border-radius: 1em;
}
.img-pokemons{
    border-radius: 1em;
}
.cor-pesquisa{
    background-color: rgb(255, 115, 0);
}
input{
    border-radius: 2em;
    background-color: rgb(236, 108, 3);
}

#descricao{
    color: rgb(17, 16, 16);
}
.descricaoPokemon{
    padding-left: 2em;
}
.nomePokemon{
    /* text-shadow: 2px 0.5px black; */
    /* font-family: 'Press Start 2P', cursive; */
}
